.accordionButton {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    .active {
        background-color: #e5e5d8;
    }

.accordion-close {
    transform: scaleY(0) !important;
    transform-origin: top !important;
}

.accordion-open {
    transition: 0.4s !important;
    transform: scaleY(1) !important;
    transform-origin: top !important;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #fffff9;
    height: auto;
    overflow: hidden;
    transition: 0.4s;
}