/* Header collage elements */

.bottom-right-corner {
    border-bottom: solid;
    border-right: solid;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
}

.bottom-left-corner {
    border-bottom: solid;
    border-left: solid;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
}

.collage-img-container {
    display: inline-block;
}

.collage-row {
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

#header-collage {
    position: relative;
}

.header-collage-image {
    max-height: 96px;
    max-width: 150px;
    height: auto;
    display: inline-block;
    opacity: 0.5;
}

    .header-collage-image:hover {
        opacity: 1;
        transform: scale(1.1);
    }

#header-headshot {
    max-width: 150px;
    position: absolute;
    z-index: 1;
    right: 43%;
    filter: brightness(0);
    transition: 1s;
    transform-origin: bottom right;
    bottom: 0;
}

#headshot-container {
    height: 320px;
    width: 1050px;
    position: absolute;
}

.instagram-media-rendered {
    display: inline-block !important;
    min-width: 290px !important;
}

.jumbotron {
    background-color: #fffff9;
}

    .jumbotron:hover #header-headshot {
        filter: brightness(1);
        transform: scale(1.2);
    }

.mid-top {
    border-top: solid;
    padding-top: 0.5%;
}

.mid-bottom {
    border-bottom: solid;
    padding-bottom: 0.5%;
}

.mid-left {
    border-left: solid;
    padding-left: 0.5%;
}

.mid-right {
    border-right: solid;
    padding-right: 0.5%;
}

#mobile-text-pop {
    display: none;
}

.top-left-corner {
    border-top: solid;
    border-left: solid;
    padding-left: 0.5%;
    padding-top: 0.5%;
}

.top-right-corner {
    border-top: solid;
    border-right: solid;
    padding-right: 0.5%;
    padding-top: 0.5%;
}

/* End header collage elements */

.blank-space {
    background-color: #fffff9;
}

body {
    font-family: Garamond, Georgia, serif;
    font-size: large;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fffff9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.contact-content {
    overflow-wrap: normal;
    float: right;
}

.contact-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 50%;
    float: right;
    padding: 0.5em;
}

.contact-content-bullet {
    margin: auto;
    text-align: center;
    font-weight: bold;
}

    .contact-content-bullet p {
        margin: auto;
    }

.align-center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.mobile-image {
    max-width: 150px;
    height: auto;
}

.mobile-show {
    display: none;
}

p.align-center {
    text-align: center;
}

.social-media-nav-bar {
    padding: 1em;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 10%;
    height: 25%;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px black;
    color: #022648;
    overflow: hidden;
    position: relative;
}

    .btn i {
        line-height: 2;
        font-size: 1.5em;
        transition: 0.2s linear;
    }

    .btn:hover i {
        transform: scale(1.3);
        color: #f1f1f1;
    }

    .btn::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        background: #022648;
        transform: rotate(45deg);
        left: -110%;
        top: 90%;
    }

    .btn:hover::before {
        animation: aaa 0.7s 1;
        top: -10%;
        left: -10%;
    }

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

#headshot-main {
    border-radius: 50%;
    max-width: 25%;
    height: auto;
}

.skill-icon {
    max-height: 4em;
    width: auto;
}

.icon {
    text-decoration: none;
    display: inline;
    z-index: 10;
}

.inline {
    display: inline;
}

.skill-rating {
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: table-row;
}

.skill-rating-container {
    width: 93%;
    display: table;
    padding: 0.25em;
    border: none;
    outline: none;
    transition: 0.4s;
}

    .skill-rating-container:hover {
        background-color: #e5e5d8;
    }

    .skill-rating-container > div > a {
        cursor: default;
        text-decoration: none;
    }

.skill-rating-icon {
    padding-left: 25%;
}

.skill-rating-info > span {
    display: none;
    z-index: 11;
    max-width: 20%;
}

.skill-rating-info > div {
    color: #333;
}



.skill-rating-info {
    text-decoration: none;
    position: relative;
}

    .skill-rating-info:hover > span {
        display: block;
        position: fixed;
        /*overflow: hidden;*/
        background-color: rgba(255,255,255,1);
        border: 1px solid black;
        padding: 0.5em;
        border-radius: 0.2em;
    }


span.mobile-hide {
    font-size: 0.85em;
    max-width: 50%;
    text-align: center;
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: text-pop-up-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    font-size: 4em;
}

.heartbeat {
    -webkit-animation: heartbeat 15s ease-in-out infinite both;
    animation: heartbeat 15s ease-in-out infinite both;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        text-align: center;
        background-color: #fffff9;
    }

    .body-content {
        padding: 0;
    }
}

@media screen and (min-width: 1100px) {
    .accordionButton:hover {
        background-color: #e5e5d8;
    }

    .thumbnail-container:hover .thumbnail {
        transform: scale(2);
        z-index: 1;
    }

    .thumbnail-container:hover .caption {
        transform: scale(2);
        z-index: 1;
        background-color: #e5e5d8;
        border-radius: 4px;
    }
}

@media screen and (max-width: 2600px) {
    .contact-content {
        margin-right: 4%;
        max-width: 200px;
    }
}

@media screen and (max-width: 1740px) {
    .contact-content {
        margin-right: 2%;
        max-width: 200px;
    }
}

@media screen and (max-width: 1675px) {
    .contact-content {
        margin-right: 1%;
        max-width: 200px;
    }
}

@media screen and (max-width: 1605px) {
    .contact-content {
        margin-right: 2%;
        max-width: 161px;
    }

    .contact-content-bullet {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 1505px) {
    .contact-content {
        margin-right: 0%;
        max-width: 125px;
    }
}

@media screen and (max-width: 1455px) {
    .contact-content {
        margin-right: 0%;
        max-width: 100px;
    }
}

@media screen and (max-width: 1405px) {
    .contact-content {
        display: none;
    }

    .skill-rating-icon {
        padding-left: 18% !important;
    }
}

@media screen and (max-width: 1199px) {
    .header-collage-image {
        max-width: 125px;
        max-height: 81px;
    }

    #header-headshot {
        right: 42%;
        max-width: 125px;
    }

    #headshot-container {
        height: 270px;
        width: 850px;
    }
}

@media screen and (max-width: 992px) {
    
    #header-collage {
        display: none;
    }

    #headshot-container {
        height: auto;
        width: auto;
        position: static;
        text-align: center;
    }

    #header-headshot {
        max-width: 100px;
        position: static;
        right: 0;
        margin: 0 auto;
        display: inline;
    }

    #mobile-text-pop {
        display: inline;
        vertical-align: middle;
    }

    #regular-text-pop {
        display: none;
    }

    .skill-header {
        display: inline-block;
        width: 47% !important;
    }

    .skill-rating-icon {
        display: inline-block;
        padding-left: 7% !important;
    }

    .skill-rating {
        line-height: 1.7;
    }
}

@media screen and (max-width: 759px) {
    .skill-column {
        display: block;
        width: 100%;
    }

    .skill-rating-container {
        width: 100%;
    }

    .skill-rating-icon {
        padding-left: 4% !important;
        float: right;
        width: 50%;
        display: inline-block;
    }

    .skill-header {
        display: inline;
        width: 50% !important;
        float: left;
        text-align: left;
    }

    .skill-rating {
        text-align: -webkit-right;
    }
}

@media screen and (min-width: 600px) {
    .skill-column {
        display: inline-block;
        width: 49.5%;
    }

    .skill-rating-icon {
        padding: 0 !important;
    }
}

@media screen and (max-width: 575px) {
    .text-pop-up-top {
        font-size: 3em;
    }
}

@media screen and (max-width: 501px) {
    h2 {
        text-align: center;
    }

    .accordionButton {
        text-align: center !important;
        box-shadow: 3px 3px #e5e5d8;
        margin-bottom: 5% !important;
    }

    .align-center {
        text-align: center !important;
        width: auto !important;
        margin: 0 !important;
    }

    .btn {
        width: 14% !important;
    }

    .caption {
        max-width: 100% !important;
        margin-top: 0 !important;
        font-size: 0.95em !important;
        padding-bottom: 2% !important;
    }

    #header-headshot-mobile {
        max-width: 75px;
        position: static;
        right: 0;
        margin: 0 auto;
        display: inline !important;
        filter: brightness(0);
        padding-top: 2%;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: block !important;
        text-align: center;
        padding-bottom: 5%;
    }



    .text-pop-up-top {
        font-size: 2.2em !important;
        margin-top: 1em !important;
        display: inline !important;
        vertical-align: middle;
    }

    .thumbnail {
        max-width: 100% !important;
        margin: 0 auto !important;
    }

    .thumbnail-container {
        display: block !important;
        width: 100% !important;
    }

    .thumbnail-group {
        display: block !important;
        width: 100% !important;
    }

    .single-line-thumbnails {
        display: block !important;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-11 22:28:0
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
